body {
  background-image: url('./images/2919733.png');
}
.header {
  background-color: #f2e19f;
}
h1,
#breeds,
#about,
#getDogPic,
.dog-selector,
#breed-name {
  font-family: 'Roboto', sans-serif;
}
h1 {
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0 auto;
}
.top {
  text-align: center;
  margin-bottom: 25px;
}
#about {
  text-align: center;
  margin-top: 0px;
  margin-left: 25px;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

#getDogPic {
  background-color: rgb(150, 160, 252);
  border: none;
  color: white;
  padding: 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 25px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#getDogPic:hover {
  background-color: rgb(241, 116, 204); /* Green */
  color: white;
}

#image-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
#getDogPic:hover {
  cursor: pointer;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 400px;
  height: auto;
  border: 4px solid blue;
  box-shadow: 10px 10px 5px grey;
}
#breeds {
  text-align: center;
  margin-bottom: 20px;
}
.dog-selector {
  margin-bottom: 25px;
}
#breed-name {
  text-align: center;
  padding: 10px 0;
  font-size: 25px;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  img {
    width: 100%;
    height: auto;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
.material-icons {
  cursor: pointer;
}
/* The sidebar menu */
.sidenav {
  margin: 0;
  padding: 0;
  width: 200px;

  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: #f2e19f;
}

/* The navigation menu links */
.sidenav a {
  padding: 16px;
  text-decoration: none;
  font-size: 25px;
  color: #050505;
  display: block;
}
.sidenav a.aboutPage {
  background-color: #cf417b;
  color: white;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#content {
  margin-left: 200px;
  padding: 5px 16px;
  height: 1000px;
  transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidenav a {
    float: left;
  }
  #content {
    margin-left: 0;
  }
}
@media screen and (max-width: 400px) {
  .sidenav a {
    text-align: center;
    float: none;
  }
}
#breeds,
#getDogPic,
#image-content,
#breed-name {
  display: none;
}
